<form #varform="ngForm" name="form" (ngSubmit)="Submit()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" name="title" 
      #vartitle="ngModel" [(ngModel)]="product.title" required minlength="3">
      <div *ngIf="vartitle.touched && vartitle.invalid">  
      <div *ngIf="vartitle.errors?.['required']">Title is required</div>
    <div *ngIf="vartitle.errors?.['minlength']">Title must have at least 3 characters</div>
    </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" #varprice="ngModel" name="price" [(ngModel)]="product.price" required min="0">
      <div *ngIf="varprice.touched && varprice.invalid">  
        <div *ngIf="varprice.errors?.['required']">Price is required</div>
      <div *ngIf="varprice.errors?.['min']">Price must be positive</div>
      </div>
    </div>
    <div class="mb-3">
        <label  class="form-label">Quantity</label>
        <input type="number" class="form-control" #varquantity="ngModel" name="quantity" [(ngModel)]="product.quantity" required min="0">
        <div *ngIf="varquantity.touched && varquantity.invalid">  
          <div *ngIf="varquantity.errors?.['required']">Quantity is required</div>
        <div *ngIf="varquantity.errors?.['min']">Quantity must be positive</div>
        </div>
      </div>
    <div class="mb-3">
        <label  class="form-label">Picture</label>
        <input type="text" class="form-control" #varpicture="ngModel" name="picture" [(ngModel)]="product.picture" required>
        <div *ngIf="varpicture.touched && varpicture.invalid">  
          <div >Picture is required</div>
        </div>
      
      </div>
   
    <button type="submit" class="btn btn-primary" [disabled]="varform.invalid">Submit</button>
  </form>
  {{product.title}}
  {{product.price}}
  {{product.quantity}}
  {{product.picture}}